.red{
    color:white;
    background-color: red;
}
p#head{
    background-color: black;
}
.one{
    color:red;
    background-color: blue;;
}
.two{
    background-color: green;
}
.three{
    text-align: center;
}